body {
	background: grey;

}

.links_general {
	font-size: 22px;
	color: white;
	font-weight: bold;
	padding: 12px;
	text-align: right;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEAjieux4nZL7kr-Eav1lgm7_EtilChznpCw4J3zzR86fYNMb4);
}

.links_specific{
	text-align: left;
	font-size: 22px;
	padding: 8px;
}


.create{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	background-color: green;
	color: white;

}

img{width: 500px;
	heigth: 500px;
	

}