body {
	background-color: grey;

}

.links_general {
	position: fixed;
	width:100%;
	height:80px;
	font-size: 28px;
	color: #C16200;
	padding: 0 13px 0 13px; 
	z-index: 1;
	background-color: #49010F;
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
	}

.navbar-link{
	color: #E3E36A;
}

.links_specific{
	text-align: left;
	font-size: 22px;
	padding: 8px;

}

.btn.my-btn{
	background-color: #274c5e;
	color: white;
	width: 160px;
	height: 50px;
	font-size: 22px;
}

.btn.btn-outline-secondary{
	height: 60px;

}

.img-myrides{
	border-radius: 15px;
	height: 50px;
	width: auto;
}

.table.table-bordered.my-table {
	width: 95%;
}

.my-table tr:nth-child(even) {background: #E6E6E6;}

.my-table tr:nth-child(odd) {background: #F2F2F2;}

.my-table tr:nth-child(1)  {background: #274c5e; color: white;}

.tr-head{
	background-color: #274c5e;
	color: white;
	text-align: center;	
}

th {
	font-size: 28px;
	text-align: center;	
	color: white;
	}

td {
	font-size: 28px;
	text-align: center;	
	color: #274c5e;
}

.h2-index{
	font-family: Verdana, sans-serif;
	background-color: #274c5e;
	color: white;
	width: 25.6%;
	margin-left: 2.5%;
	text-indent: 2.6%;
	
}

.h2-index2{
	font-family: Verdana, sans-serif;
	background-color: #274c5e;
	color: white;
	width: 12%;
	margin-left: 2.5%;
	text-indent: 2.6%;
	
}

.navbar-link-myrides{
	color: #274c5e;;
}
.create{
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	background-color: green;
	color: white;

}

.list-group-item.mystyle{
	background-color: #274c5e;
	color: white;
}

img{width: 500px;
	heigth: 500px;
}

.standard-label{ 
	width: 40%;
	
	font-size: 22px;
}

.date-label{
	width: 21%;
	
	font-size: 22px;
}

.time-label{
	width: 21%;
	
	font-size: 22px;
}

.select-label{
	width: 21%;

	font-size: 22px;

}

.description-label{
	width: 40%;
	
	font-size: 22px;
}

.image-label{
	width: 40%;

	font-size: 22px;
}

.submit-button{
	}