body {
	background: grey;

}

.links_general {
	font-size: 22px;
	color: white;
	font-weight: bold;
	padding: 12px;
	text-align: right;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEAjieux4nZL7kr-Eav1lgm7_EtilChznpCw4J3zzR86fYNMb4);
}

.links_specific{
	text-align: left;
	font-size: 22px;
	padding: 8px;
}


.create{
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	background-color: green;
	color: white;

}

img{width: 500px;
	heigth: 500px;
}

.standard-label{ 
	width: 40%;
	
	font-size: 22px;
}

.date-label{
	width: 21%;
	
	font-size: 22px;
}

.time-label{
	width: 21%;
	
	font-size: 22px;
}

.select-label{
	width: 18%;

	font-size: 22px;

}

.description-label{
	width: 40%;
	
	font-size: 22px;
}

.image-label{
	width: 40%;

	font-size: 22px;
}

.submit-button{
	}